header{
    background-color: white;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 50px 0 30px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    .brand{
        color: #000000;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
    }
    .navigation{
        .navigation-items{
            a{
                color: #000000;
                font-size: 1em;
                font-weight: 500;
                text-decoration: none;
                transition: 0.3s ease;
            }
         
        }

    }
    

}